In [3]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#list of tv show titles to query
tv_shows = ["Altered Carbon", "Grey's Anatomy", "This is Us", "The Flash", "Vikings", "Shameless", "Arrow", "Peaky Blinders", "Dirk Gently"]
base_url = "http://api.tvmaze.com/search/shows?q="
# make iterative requests to TVmaze search endpoint
# set up lists to hold response data for name and rating
titles = []
ratings = []
networks = []

for show in tv_shows:
    target_url = base_url + show
    response = requests.get(target_url).json()
    titles.append(response[0]["show"]["name"])
    ratings.append(response[0]["show"]["rating"]["average"])

In [5]:
# create dataframe
shows_df = pd.DataFrame({"title": titles,
                        "rating": ratings})
shows_df

            title  rating
0  Altered Carbon     8.1
1  Grey's Anatomy     8.4
2      This Is Us     8.2
3       The Flash     8.0
4         Vikings     8.8
5       Shameless     8.8
6           Arrow     7.5
7  Peaky Blinders     9.0
8     Dirk Gently     7.3

In [4]:
# use matplotlib to create a bar chart from the dataframe

tick_locations = np.arange(len(shows_df))
sep_colors = cm.hsv(shows_df)

plt.bar(tick_locations, show_df["rating"], align="center",  color=sep_colors